constraints: Cabal ==1.14.0,
             HTTP ==4000.2.17,
             HUnit ==1.2.5.2,
             MonadCatchIO-transformers ==0.3.1.0,
             MonadRandom ==0.1.13,
             SHA ==1.6.4,
             Snap-Web ==0.3.1,
             aeson ==0.6.2.1,
             array ==0.4.0.0,
             attoparsec ==0.11.3.4,
             attoparsec-enumerator ==0.3.3,
             base ==4.5.0.0,
             base64-bytestring ==1.0.0.1,
             bifunctors ==4.1.1.1,
             bin-package-db ==0.0.0.0,
             binary ==0.5.1.0,
             blaze-builder ==0.3.3.2,
             blaze-builder-enumerator ==0.2.0.5,
             blaze-html ==0.7.0.2,
             blaze-markup ==0.6.1.0,
             bson ==0.2.1,
             byteable ==0.1.1,
             bytestring ==0.9.2.1,
             bytestring-mmap ==0.2.2,
             case-insensitive ==0.4.0.4,
             cereal ==0.4.0.1,
             cipher-aes ==0.2.7,
             clientsession ==0.9.0.3,
             comonad ==4.2,
             comonad-transformers ==4.0,
             comonads-fd ==4.0,
             compact-string-fix ==0.3.2,
             conduit ==1.1.5,
             configurator ==0.2.0.2,
             containers ==0.4.2.1,
             contravariant ==0.6,
             cprng-aes ==0.5.2,
             crypto-api ==0.13,
             crypto-cipher-types ==0.0.9,
             crypto-random ==0.0.7,
             cryptohash ==0.11.5,
             css-text ==0.1.2.1,
             data-binary-ieee754 ==0.4.4,
             data-default ==0.5.3,
             data-default-class ==0.0.1,
             data-default-instances-base ==0.0.1,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             data-default-instances-old-locale ==0.0.1,
             deepseq ==1.3.0.0,
             digest ==0.0.1.2,
             digestive-functors ==0.7.1.1,
             digestive-functors-heist ==0.8.5.0,
             digestive-functors-snap ==0.6.1.0,
             directory ==1.1.0.2,
             directory-tree ==0.11.0,
             distributive ==0.4.4,
             dlist ==0.7.0.1,
             either ==4.3.0.1,
             entropy ==0.3,
             enumerator ==0.4.20,
             errors ==1.4.7,
             exceptions ==0.6.1,
             extensible-exceptions ==0.1.1.4,
             filepath ==1.3.0.0,
             free ==4.9,
             ghc ==7.4.1,
             ghc-mtl ==1.2.1.0,
             ghc-paths ==0.1.0.9,
             ghc-prim ==0.2.0.0,
             hashable ==1.2.2.0,
             hashtables ==1.1.2.1,
             heist ==0.13.1.2,
             highlighting-kate ==0.5.8.2,
             hint ==0.4.2.0,
             hoopl ==3.8.7.3,
             hpc ==0.5.1.1,
             hslua ==0.3.12,
             integer-gmp ==0.4.0.0,
             lens ==3.7.6,
             lifted-base ==0.2.2.2,
             logict ==0.6.0.2,
             mmorph ==1.0.3,
             monad-control ==0.3.3.0,
             monads-tf ==0.1.0.2,
             mongoDB ==1.4.4,
             mtl ==2.1.3.1,
             mwc-random ==0.13.1.1,
             nats ==0.2,
             network ==2.4.2.3,
             old-locale ==1.0.0.4,
             old-time ==1.1.0.0,
             pandoc ==1.12.3.3,
             pandoc-types ==1.12.3.3,
             parallel ==3.2.0.4,
             parsec ==3.1.5,
             prelude-extras ==0.4,
             pretty ==1.1.1.0,
             primitive ==0.5.3.0,
             process ==1.1.0.1,
             profunctors ==4.0.4,
             pwstore-fast ==2.4.1,
             random ==1.0.1.1,
             random-shuffle ==0.0.4,
             regex-base ==0.93.2,
             regex-pcre-builtin ==0.94.4.8.8.35,
             regex-posix ==0.95.2,
             resource-pool ==0.2.2.0,
             resourcet ==1.1.2.2,
             rts ==1.0,
             safe ==0.3.4,
             scientific ==0.3.2.1,
             securemem ==0.1.3,
             semigroupoids ==4.0.2.1,
             semigroups ==0.15,
             skein ==1.0.9,
             snap ==0.13.2.6,
             snap-core ==0.9.6.3,
             snap-loader-dynamic ==0.10.0.2,
             snap-loader-static ==0.9.0.2,
             snap-server ==0.9.4.5,
             snaplet-i18n ==0.0.5,
             snaplet-mongodb-minimalistic ==0.0.6.12,
             split ==0.2.2,
             stm ==2.4.3,
             syb ==0.4.1,
             tagged ==0.7.2,
             tagsoup ==0.13.1,
             template-haskell ==2.7.0.0,
             temporary ==1.2.0.3,
             texmath ==0.6.6.3,
             text ==0.11.3.1,
             time ==1.4,
             transformers ==0.3.0.0,
             transformers-base ==0.4.2,
             transformers-compat ==0.3.3.4,
             unix ==2.5.1.0,
             unix-compat ==0.4.1.1,
             unordered-containers ==0.2.4.0,
             utf8-string ==0.3.8,
             vector ==0.10.11.0,
             vector-algorithms ==0.6.0.1,
             void ==0.6.1,
             xml ==1.3.13,
             xmlhtml ==0.2.3.2,
             xss-sanitize ==0.3.5.2,
             yaml ==0.8.8.3,
             zip-archive ==0.2.2.1,
             zlib ==0.5.4.1,
             zlib-bindings ==0.1.1.5,
             zlib-enum ==0.2.3.1
