// -----
// -----

html {
   font-family: Verdana, Helvetica, sans-serif;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.registration {
    margin-top: 50px;
    .form-actions {
        background-color: transparent;
        border-top: none;
    }
}

// -------------------------------------- Topic and Reply
// ---

.replyPerTopic {
    /*border: 1px dotted #000;*/
    margin: 10px 0;

    .reply {
      border-top: 1px solid #000;
      padding: 10px;
      margin: 5px 0;
    }

    .replyOfReply {
      margin: 5px 0 0 15px;
      border-top: 1px dotted #000;
      form {
        textarea {
          width: 500px;
          height: 80px;
        }
      }
    }
    
}

.replyEditor {
    border-top: 1px solid #000 ;
    padding-top: 15px;
    margin-top: 30px;

    input.btn {
        margin-top: 15px;
    }
}

