// ----- Variables
// 
@largeWidth: 500px;
@mdEditorHeight: 80px;
@authorFontSize: 11px;

// ----- Mixins

.small-font {
    color: @grayLight;
    font-size: @authorFontSize;
}

.clear {
    clear: both;
}

/* background color change on hover */
.grayHover {
    background-color: @grayLighter;
}

.grayBorderDotted {
    border-top: 1px dotted @grayLight;
}

// ----- Extends bootstrap
.input-xylarge    { width: @largeWidth; }



// -----

html {
   font-family: Verdana, Helvetica, sans-serif;
}

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

.registration {
    margin-top: 50px;
    .form-actions {
        background-color: transparent;
        border-top: none;
    }
    .input-tag {
      min-width: 500px;
    }
}

// -------------------------------------- Topic and Reply
// ---

.topicList {
    > ul {
        list-style-type: none;
        margin-left: 1px;
        
        li {
            //margin:  0;
            padding: 5px 10px;
            font-size: 18px;
            &:hover {
                .grayHover;
            }
        }
    }
}

.topic {
}

.replyPerTopic {
    margin: 10px 0;
    .clear;

    .reply {
       border-top: 1px solid @grayLight;
       padding: 20px 0 10px 20px ;
       margin: 5px 0;
       
       .replyOfReply {
          margin: 10px 0 10px 15px;

          section {
            .grayBorderDotted;
            padding: 5px 0;
            .author {
                margin-right: 5px;
            }
            p { display: inline; }
          }
          section:last-child {
              .grayBorderDotted;             
          }
          section:hover {
              .grayHover;
          }
          .wmd-input {
               height: @mdEditorHeight;
          }
       }

       a {
         cursor: pointer;
       }
    }
    
}

.replyEditor {
    border-top: 1px solid #000 ;
    padding-top: 15px;
    margin-top: 30px;

    input.btn {
        margin-top: 15px;
    }
}


.tags {
  list-style: none;
  display: inline-block;
  margin: 0 0 0 5px;

  & > li {
      display: inline-block;
  }

}

.author {
  .small-font;        
}

.topic-toolbar {
    margin: 5px 0;
    .clear;
}

.error {
    font-size: 16px;
    color: #FF0000;
}

.markdown-helper {
    margin: 2px 0 6px;
    float: right;
    position: relative;
    right: -10px;
}
