.container > div {
  margin-right: 280px;
}

// -------------------------------------- Topic

.topic-list {
  ol {
    li {
      font-size: 15px;
    }
  }
}

.topic-content .btn-link {
    padding: 0px 5px 0 0;
    font-size: 11px;
  }

.topic-toolbar {

}

// ---------------------------------------- Reply

.reply-per-topic {
    margin: 10px 0;
    .clear;

    .reply {
       border-top: 1px solid @grayLight;
       padding: 20px 0 10px 20px ;
       margin: 5px 0;
       
       .reply-of-reply {
          margin: 10px 0 10px 30px;

          section {
            .grayBorderDotted;
            padding: 5px 0;
            .author {
                margin-right: 5px;
            }
            p { display: inline; }
          }
          section:last-child {
              .grayBorderDotted;             
          }
          section:hover {
              .grayHover;
          }
          .wmd-input {
               height: @mdEditorHeight;
          }
       }

       a {
         cursor: pointer;
       }
    }
    
}

.reply-editor {
    input.btn {
        margin-top: 15px;
    }
}
